.header {
    -fx-font-size: 20;
    -fx-font-style: oblique;
}

.text {
    -fx-font-smoothing-type: lcd;
}

.button {
    -fx-padding: 5px;
}

.timeDisplay {
    -fx-font-size: 40;
}

.table-row-cell {
    -fx-cell-size: 35px;
}

.pomodoro-completed-text .text {
    -fx-strikethrough: true;
}

.hint-text {
    -fx-font-size: 8;
    -fx-font-style: oblique;
}